<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" 
    xmlns="http://maven.apache.org/SETTINGS/1.1.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <mirrors>
        <!-- Redirecionar apenas snapshots para o repositório privado -->
        <mirror>
            <id>private-repo</id>
            <mirrorOf>snapshots</mirrorOf>  <!-- Isso impede que ele bloqueie os releases -->
            <url>https://maven.senior.com.br/artifactory/plugins-release</url>
            <layout>default</layout>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>default-repo</id>
            <repositories>
                <repository>
                    <id>maven-central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>default-repo</activeProfile>
    </activeProfiles>
</settings>
